*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-mask-x {
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}