.banner__principal__container {
    background-color: var(--cinza-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__principal__logo {
    width: 10rem;
    opacity: 80%;
}

.banner__principal__redes {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.redes__link__i {transition-delay: 400ms;}
.redes__link__w {transition-delay: 700ms;}
.redes__link__f {transition-delay: 1000ms;}

.redes__icone {
    width: 2rem;
    opacity: 70%;
    cursor: pointer;
}

.redes__icone:hover {
    transform: scale(1.2);
    transition: 1s;
}

.banner__principal__container p {
    text-align: center;
    color: var(--amarelo-submenu);
    font-family: 'Poiret One', sans-serif;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    padding: .5rem;

}

@media (max-width: 600px) {

    .banner__principal__logo {
        width: 8rem;
    }
    
.banner__principal__container p {
    font-size: .8rem;
}
    
}