.carousel__promocional__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-fundo);
  padding-bottom: 1rem;
  height: 70vh;
}
 
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}
  
.carousel-track {
  display: flex;
  width: calc(1080px * 6); /* 3 imagens originais + 3 clones */
  animation: scroll 50s linear infinite;
}
  
.carousel-track img {
  width: 1080px;
  height: 300px;
  object-fit: cover;
}
  
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3240px); /* Move 3 imagens para a esquerda */
  }
  }
  
  .mobi {
    display: none;
  }

  .carousel__promocional__container > p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
  }

  /*RESPONSIVO PARA MOBILE*/

@media (max-width: 600px) {

  .carousel__promocional__container{
    margin-top: 2rem;
  }

  .desk{
    display: none;
  }
  .mobi {
    display: block;
  }

}
  