.designe__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-fundo);
    width: 100%;
    height: auto;
    background-color: var(--cinza-principal);
    padding-block: 1rem;
    gap: 2rem;
}

.designe__container > h1 {
    color: var(--amarelo-principal);
    font-weight: 100;
    opacity: 70%;
}

.designe__container > p {
    font-size: 1.3rem;
}

.designe__img__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cinza-principal);
}

.designe__img__container p {
    color: var(--cor-fundo);
}

.designe__img {
    width: 7rem;
    margin-inline: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
    opacity: 80%;
    background-color: var(--cor-fundo);
    border-radius: 50%;
}

.designe__img:hover {
    transform: scale(1.1);
    opacity: 100%;
}

.designe__img__container div {
    text-align: center;
    font-size: 1.3rem;
}

.designe__img__container :nth-child(1){transition-delay: 400ms;}

.designe__img__container :nth-child(2){transition-delay: 700ms;}

.designe__img__container :nth-child(3){transition-delay: 1000ms;}

@media (max-width: 600px) {

    .designe__container {
        margin-block: 1rem;
    }

    .designe__img {
        width: 8rem;
        margin: 0;
    }

    .designe__container > p {
    font-size: 1rem;
    }   

    .designe__img__container p {
        font-size: 1rem;
    }

    .designe__img__container {
        gap: 2rem;
    }


}