.politicas__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    hyphens: auto;
}

.privacidade__container, .reembolso__container, .troca__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    height: auto;
    margin-block: 5rem;
}

.politicas__container img {
    width: 5rem;
    margin-block: 2rem;
}

@media (max-width: 600px) {

    .politicas__container {
        padding-inline: 1rem;
    }

    .privacidade__container, .reembolso__container, .troca__container {
        width: 100%;
    }

}